In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('shirt_size.csv')

In [3]:
df.head()

   Height_cms  Weight_kgs T_Shirt_Size
0         158          58            M
1         158          59            M
2         160          64            L
3         163          64            L
4         165          61            L

In [4]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [20]:
att = df[ ['Height_cms','Weight_kgs']]
label = df['T_Shirt_Size']
att_train ,att_test , class_train , class_test = train_test_split(att,label,random_state = 0 , train_size = 0.7)
#ขั้นตอนที่1

scaler = StandardScaler()
scaler.fit(att_train)
att_train[ ['Height_cms','Weight_kgs']] = scaler.transform(att_train)
#ข้อมูลที่นำไปสอนโมเดล

model = KNeighborsClassifier(n_neighbors = 3)
model.fit(att_train,class_train) #โมเดลเสร็จแล้ว

model.score(att_train, class_train )

0.9166666666666666

In [26]:
result = pd.concat([att_train,class_train],axis = 1)
result['predict'] = model.predict(att_train)
result

    Height_cms  Weight_kgs T_Shirt_Size predict
2    -0.978780    0.427900            L       L
16    1.324232    0.427900            L       L
17    1.324232    2.007839            L       L
9    -0.978780   -1.152039            M       M
7     0.172726   -0.362069            L       L
13    0.863630    1.217870            L       L
11    0.863630   -0.362069            L       L
3    -0.287877    0.427900            L       L
0    -1.439383   -1.942009            M       M
5    -1.439383    0.032915            M       L
15   -0.287877   -0.757054            M       M
12    0.863630    0.032915            L       L

In [23]:
att = df[ ['Height_cms','Weight_kgs']]
label = df['T_Shirt_Size']
att_train ,att_test , class_train , class_test = train_test_split(att,label,random_state = 0 , train_size = 0.7)

scaler = StandardScaler()
scaler.fit(att_train)
att_train[ ['Height_cms','Weight_kgs']] = scaler.transform(att_train)

model = KNeighborsClassifier(n_neighbors = 3)
model.fit(att_train,class_train) 

model.score(scaler.transform(att_test), class_test )

C:\Users\natty\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

1.0

In [25]:
result = pd.concat([att_test,class_test],axis = 1)
result['predict'] = model.predict(scaler.transform(att_test))
result

C:\Users\natty\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

    Height_cms  Weight_kgs T_Shirt_Size predict
1          158          59            M       M
6          160          59            M       M
8          165          65            L       L
10         163          60            M       M
14         170          63            L       L
4          165          61            L       L