In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('customer.csv')

In [3]:
df.head()

   gender  age  salary  purchased
0    Male   19   19000          0
1    Male   35   20000          0
2  Female   26   43000          0
3  Female   27   57000          0
4    Male   19   76000          0

In [4]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [29]:
att = df[ ['age','salary']]
label = df['purchased']
att_train ,att_test , class_train , class_test = train_test_split(att,label,random_state = 0 , train_size = 0.7)

scaler = StandardScaler()
scaler.fit(att_train)
att_train[ ['age','salary']] = scaler.transform(att_train)

model = KNeighborsClassifier(n_neighbors = 3)
model.fit(att_train,class_train) 

model.score(att_train, class_train )

0.925

In [31]:
result = pd.concat([att_train,class_train],axis = 1)
result['predict'] = model.predict(att_train)
result

          age    salary  purchased  predict
92  -1.163172 -1.584970          0        0
223  2.170181  0.930987          1        1
234  0.013305  1.220177          0        1
232  0.209385  1.075582          1        1
377  0.405465 -0.486047          0        0
..        ...       ...        ...      ...
323  0.993704 -1.151185          1        1
192 -0.869053 -0.775237          0        0
117 -0.182774 -0.514966          0        0
47  -1.065133 -0.457127          0        0
172 -1.163172  1.393691          0        0

[280 rows x 4 columns]

In [32]:
class_train

92     0
223    1
234    0
232    1
377    0
      ..
323    1
192    0
117    0
47     0
172    0
Name: purchased, Length: 280, dtype: int64

In [34]:
model.predict(att_train)

array([0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0], dtype=int64)

In [20]:
att = df[ ['age','salary']]
label = df['purchased']
att_train ,att_test , class_train , class_test = train_test_split(att,label,random_state = 0 , train_size = 0.7)

scaler = StandardScaler()
scaler.fit(att_train)
att_train[ ['age','salary']] = scaler.transform(att_train)

model = KNeighborsClassifier(n_neighbors = 10)
model.fit(att_train,class_train) 

model.score(scaler.transform(att_test), class_test )

C:\Users\natty\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

0.925

In [21]:
result = pd.concat([att_test,class_test],axis = 1)
result['predict'] = model.predict(scaler.transform(att_test))
result

C:\Users\natty\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

     age  salary  purchased  predict
132   30   87000          0        0
309   38   50000          0        0
341   35   75000          0        0
196   30   79000          0        0
246   35   50000          0        0
..   ...     ...        ...      ...
216   49   65000          0        0
259   45  131000          1        1
49    31   89000          0        0
238   46   82000          0        0
343   47   51000          1        1

[120 rows x 4 columns]

In [33]:
class_test

132    0
309    0
341    0
196    0
246    0
      ..
216    0
259    1
49     0
238    0
343    1
Name: purchased, Length: 120, dtype: int64

In [35]:
model.predict(att_test)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)